<!DOCTYPE html>
<html>
<head>
  <title>Redditss</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.doubletap" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
<%= yield %>
<div id="flashes"></div>
</body>
</html>
